#modified_records td
{
padding:5px;
}



#be_vereinsdatenbank {
    padding: 10px;
}
#be_vereinsdatenbank td, #be_vereinsdatenbank th{
font-size:10px;
}

#comparingForm .col_0 label {
    display: none;
}
#comparingForm td.green div{
    background-position:right top;
    background-image:url(../images/new_icon.gif);
    background-repeat:no-repeat;
}

#comparingForm .row_0 td {
    padding-top: 20px;
}

#comparingForm .select,
#comparingForm .text {
    width: 70%;
}

#comparingForm table {
      width: 80%
}
#comparingForm .col_0 {
    width: 90%
}
#comparingForm .col_1 {
    width: 10%
}

#comparingForm th {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 15px 0;
    width: 80%

}

.red {
    color: red;
}

.green {
    color: green;
}

#stat_container td
{
    min-width:50px;
    padding:5px;
    text-align:center;
    background-color: #f5f5f5;
    border:2px solid #fff;

}
#stat_container td.empty
{
    background-color: transparent;
}
#stat_container thead .col_first
{
   color:#8ab858;
}
#stat_container tbody .col_first
{
    color:#0F57E2;
}
#stat_container .row_5 td
{
    border-bottom:20px solid #ffffff;
}
#stat_container .row_6 td
{
    border-top:20px solid #ffffff;
}
#stat_container td.col_first
{
   font-weight:bold;
    text-align:left;
    background-color: transparent;

}
